[Unit]
Description=EGMESH Coverage Logger
After=network.target

[Service]
Type=simple
User=root
Environment=HOME=/home/pi
WorkingDirectory=/home/pi/egmesh_logger
ExecStart=/home/pi/egmesh_logger/venv/bin/python3 /home/pi/egmesh_logger/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
