[Unit]
Description=EGMESH Coverage Logger
After=network.target

[Service]
Type=simple
User=root
Environment=HOME=/root
WorkingDirectory=/root/egmesh_logger
ExecStart=/root/egmesh_logger/venv/bin/python3 /root/egmesh_logger/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
